<section id="intro" class="section scrollspy full-height">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-9">
			<div class="content section-padding valign" style="margin-left: 10%; margin-top: 50px;">
				<div class="caption">
					<h2>Hi, I'm <span class="teal">Varad Bhogayata.</span></h2>
					<h5 style="color:#fff">A <span class="typing" style="font-weight: 300; color:#004d40"></span></h5>
					<h5>Self-driven, quick starter, passionate programmer with a curious mind who enjoys solving a complex and challenging real-world problems.</h5>
				</div>
				<div class="social">
					<a href="http://linkedin.com/in/varadbhogayata" target="_blank">
						<button class="icon-btn linkedin">
							<i class="fa fa-linkedin"></i>
						</button>
					</a>
					<a href="https://github.com/varadbhogayata/" target="_blank">
						<button class="icon-btn github">
							<i class="fa fa-github"></i>
						</button>
					</a>


				</div>
				<div class='buttons'>
					<a href="#about" class="readme">Read More</a>
					<a href="#contact" class="contactme">Contact Me</a>
				</div>
			</div>
		</div>
	</div>
</section>